<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="top-container">
    <div class="title">
        Algorithm Visualization
    </div>
    <div class="options">
        <h2>Select Algorithm</h2> 
        <form action="/run" method="POST">
            <div class="algorithms">
                <label for="merge">
                    Merge Sort
                    <input type="checkbox" id="merge" name="merge">
                </label>
                <label for="bubble">
                    Bubble Sort
                    <input type="checkbox" id="bubble" name="bubble">
                </label>
                <label for="quick">
                    Quick Sort
                    <input type="checkbox" id="quick" name="quick">
                </label>
                <label for="radix">
                    Radix Sort
                    <input type="checkbox" id="radix" name="radix">
                </label>
            </div>
            <label for="input_list">Input List(comma separated ", "):</label>
            <input type="text" id="input_list" name="input_list" value="{{ input_list }}" placeholder="Example: 2, 6, 8, 14, 5, 7" style="width: 500px;">
            <button id="generate-random" onclick="generateRandomNumbers()">Generate Numbers</button>
            
            <!-- Temporal script while i find a better way to generate random numbers-->
            <script>
                function generateRandomNumbers() {
                  const numCount = 80; // number of random numbers to generate
                  const maxNum = 100; // maximum random number
                  const numbers = Array(numCount).fill(0).map(() => Math.floor(Math.random() * maxNum));
                  const inputList = numbers.join(', ');
                  document.getElementById('input_list').value = inputList;
                }
              </script>

            <button id="start" type="submit">Start</button>
        </form>
        
       

    </div>
</div>
  
<div class="bottom-container">
    {% if times %}
    <div class="results">
        <h2>Algorithm Execution Times:</h2>
        <ul>
            {% for algorithm, time in times.items() %}
            <li>{{ algorithm }}: {{ time }} seconds</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

</body>
</html>
